<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Фреймворк AngularJS / Нетология</title>
        <script src="./libs/angular-1.5.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="name">Имени</option>
        </select><br><br>

        Выбрать жанр:
		<select ng-model="uniqueGenres">
			<option value="">Показать всё</option>
			<option ng-repeat="book in books | unique:'genre'">{{book.genre}}</option>
		</select>

        <ul>
            <li ng-repeat="book in books | filter:uniqueGenres:query | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>Жанр: {{book.genre}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>
        

    </body>

</html>
